<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="Crosshair++" Language="1033" Version="$(var.Version)"
        Manufacturer="Drumba08" UpgradeCode="023dd502-da82-40cf-8c33-c4e40f39076f">
        <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

        <MediaTemplate />

        <!-- Root directory -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="Crosshair++" />
            </Directory>
        </Directory>

        <!-- Reference the install folder -->
        <DirectoryRef Id="INSTALLFOLDER">

            <!-- Main executable -->
            <Component Id="MainExecutable" Guid="*">
                <File Source="deploy\crosshair++.exe" KeyPath="yes" />
            </Component>

            <!-- All DLLs and direct files in deploy/ -->
            <Component Id="AllDlls" Guid="*">
                <File Source="deploy\*.*" />
            </Component>

            <!-- Plugins folder -->
            <Directory Id="PLUGINS" Name="plugins">
                <Component Id="Plugins" Guid="*">
                    <File Source="deploy\plugins\**\*.*" />
                </Component>
            </Directory>

            <!-- Translations folder -->
            <Directory Id="TRANSLATIONS" Name="translations">
                <Component Id="Translations" Guid="*">
                    <File Source="deploy\translations\**\*.*" />
                </Component>
            </Directory>

            <Component Id="Resources" Guid="*">
                <File Source="resources\LICENSE.rtf" />
            </Component>

        </DirectoryRef>

        <!-- Features -->
        <Feature Id="DefaultFeature" Level="1">
            <ComponentRef Id="MainExecutable" />
            <ComponentRef Id="AllDlls" />
            <ComponentRef Id="Plugins" />
            <ComponentRef Id="Translations" />
            <ComponentRef Id="Resources" />
        </Feature>

        <UI>
            <UIRef Id="WixUI_InstallDir" />
            <DialogRef Id="LicenseAgreementDlg" />
        </UI>

    </Product>
</Wix>