#include <windows.h>

1 VERSIONINFO
FILEFLAGSMASK 0x3fL
FILEOS 0x4L
FILETYPE 0x1L
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
            VALUE "FileDescription", "Crosshair++"
            VALUE "CompanyName", "Drumba08"
            VALUE "OriginalFilename", "crosshair++.exe"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 1200
    }
}

1 RT_MANIFEST
BEGIN
    "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>"
    "<assembly xmlns=\"urn:schemas-microsoft-com:asm.v1\" manifestVersion=\"1.0\">"
    "  <assemblyIdentity version=\"1.0.0.0\" processorArchitecture=\"*\" name=\"Crosshair++\" type=\"win32\"/>"
    "  <description>Crosshair++</description>"
    "  <trustInfo xmlns=\"urn:schemas-microsoft-com:asm.v3\">"
    "    <security>"
    "      <requestedPrivileges>"
    "        <requestedExecutionLevel level=\"asInvoker\" uiAccess=\"false\"/>"
    "      </requestedPrivileges>"
    "    </security>"
    "  </trustInfo>"
    "  <dependency>"
    "    <dependentAssembly>"
    "      <assemblyIdentity type=\"win32\" name=\"Microsoft.Windows.Common-Controls\" version=\"6.0.0.0\" processorArchitecture=\"*\" publicKeyToken=\"6595b64144ccf1df\" language=\"*\"/>"
    "    </dependentAssembly>"
    "  </dependency>"
    "</assembly>"
END